<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Mr.Daebak Dinner</title>
  <!--<link rel="icon" href="{% static 'images/restaurant.png' %}">-->

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- style -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">
  <!-- start header section -->
  <div class="main_area">
    <div class="brand_box">
      <a class="brand" href="{% url 'cm' %}">
        <span>
          Mr.Daebak DINNER
        </span>
      </a>
    </div>
  </div>
  <!-- end header section -->

  <!-- start bar section -->

  <section class="bar_section">
    <div class="container">
      <div class="bar">
        <nav class="navbar navbar-expand bar_box">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex  flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="item">
                  <a class="nav-link" href="{% url 'dfp' %}">디너 종류 </a>
                </li>
                <li class="item">
                  <a class="nav-link" href="{% url 'dsp' %}">디너 스타일 </a>
                </li>
                <li class="item">
                  <a class="nav-link" href="{% url 'ap' %}">추가 사항 </a>
                </li>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>

  <!-- end bar section -->

  <!-- start order section -->
  <section class="order_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          주문 상품
        </h2>
      </div>
      <div class="box"> 
        <div class="orderbox">
            <div class="orderInfo">
              <form action="{% url 'order' %}" method="POST" id="userform">
                <div class="heading_container">
                  <hr>
                  <h2>
                    주문자 정보
                  </h2>
                </div>
                이름 <input type="text" name="name"><br>
                전화번호 <input type="text" name="phonenumber"><br>
                주소 <input type="text" name="address"><br>
                카드번호 <input type="text" name="card"><br>
                배달시간 
                <select name = "deliverytime">
                  <option selected>배달 시간 선택</option>
                  <option value="1">16:00</option>
                  <option value="2">16:30</option>
                  <option value="3">17:00</option>
                  <option value="4">17:30</option>
                  <option value="5">18:00</option>
                  <option value="6">18:30</option>
                  <option value="7">19:00</option>
                  <option value="8">19:30</option>
                  <option value="9">20:00</option>
                  <option value="10">20:30</option>
                  <option value="11">21:00</option>
                  <option value="12">21:30</option>
                </select>
                <br><br>
                배달요청사항 <input type="text" name="want"><br>
                <div class="heading_container">
                  <hr>
                  <h2>
                    총 결제금액
                  </h2>
                </div>
                할인 여부 {'discount'}
                결제 금액 {'money'}
                <br><br>
                <input type="submit" id="sub" value="결제하기">
              </form>            
            </div>
        </div>      
      </div>
    </div>
    <br><br><br>
      
  </section>
  <!-- end order section -->

  <!-- start info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_brand">
        <h2>
          Mr.Daebak DINNER
        </h2>
      </div>
      <div class="info_box">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <span>
                이용약관
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                개인정보취급방침
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                공지사항
              </span>
            </a>
          </div>
          <p><br><br><br></p>
          <p>
            위치 | 서울특별시 강남구 강남대로102길 31<br>
            대표번호 | 010-2747-1579
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end info section -->

  <!-- start footer section -->
  <section class="container-fluid footer_section ">
    <p>
      COPYRIGHT © Mr.Daebak DINNER. ALL RIGHTS RESERVED.
    </p>
  </section>
  <!-- end footer section -->

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>